.pull-right
  = link_to new_routine_path, class: "btn btn-primary" do
    %i.nav-icon.fa.fa-plus
    = t("views.new")

.clearfix
%br/

.panel
  .panel-heading
    %span.panel-title= Routine.model_name.human(count: 2)
  .panel-body
    %table.table.table-striped
      %thead
        %tr
          %th= Routine.human_attribute_name(:name)
          %th= Routine.human_attribute_name(:description)
          %th= t("views.actions")
      %tbody
        - @routines.each do |routine|
          %tr
            %td= routine.name
            %td= routine.description
            %td   
              = link_to(t("views.edit"), edit_routine_path(routine) ) 
              | 
              = link_to(t("views.delete"), routine_path(routine), method: :delete, data: {confirm: t("views.confirm")})
