/
  5. $PROFILE ===================================================================================
  
  Profile
.profile-full-name
  %span.text-semibold>= "#{@user.first_name} #{@user.last_name}"
  's profile
.profile-row
  .left-col
    .profile-block
      .panel.profile-photo
        %img{:alt => "", :src => image_path("demo/avatars/5.jpg") }/
      %br/
      = succeed "\u{a0}\u{a0}" do
        %a.btn.btn-success{:href => "#"}
          %i.fa.fa-check>
            Following
      %a.btn{:href => "#"}
        %i.fa.fa-comment
    .panel.panel-transparent
      .panel-heading
        %span.panel-title About me
      .panel-body
        = User.human_attribute_name(:height_in_cm)
        = @user.height_in_cm
        cm
    .panel.panel-transparent
      .panel-heading
        %span.panel-title Statistics
      .list-group
        %a.list-group-item{:href => "#"}
          %strong 126
          Likes
        %a.list-group-item{:href => "#"}
          %strong 579
          Followers
        %a.list-group-item{:href => "#"}
          %strong 100
          Following
    .panel.panel-transparent.profile-skills
      .panel-heading
        %span.panel-title Skills
      .panel-body
        %span.label.label-primary UI/UX
        %span.label.label-primary Web design
        %span.label.label-primary Photoshop
        %span.label.label-primary HTML
        %span.label.label-primary CSS
    .panel.panel-transparent
      .panel-heading
        %span.panel-title Social
      .list-group
        %a.list-group-item{:href => "#"}
          %i.profile-list-icon.fa.fa-twitter{:style => "color: #4ab6d5"}
          @dsteiner
        %a.list-group-item{:href => "#"}
          %i.profile-list-icon.fa.fa-facebook-square{:style => "color: #1a7ab9"}
          Denise Steiner
        %a.list-group-item{:href => "#"}
          %i.profile-list-icon.fa.fa-envelope{:style => "color: #888"}
          dsteiner@example.com
  .right-col
    %hr.profile-content-hr.no-grid-gutter-h/
    .profile-content
      %ul#profile-tabs.nav.nav-tabs
        %li.dropdown.pull-right.tabdrop.hide
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %i.fa.fa-bars
            %b.caret
          %ul.dropdown-menu
        %li.active
          %a{"data-toggle" => "tab", :href => "#profile-tabs-board"} Board
        %li
          %a{"data-toggle" => "tab", :href => "#profile-tabs-activity"} Timeline
        %li
          %a{"data-toggle" => "tab", :href => "#profile-tabs-followers"} Followers
        %li
          %a{"data-toggle" => "tab", :href => "#profile-tabs-following"} Following
      .tab-content.tab-content-bordered.panel-padding
        #profile-tabs-board.widget-article-comments.tab-pane.panel.no-padding.no-border.fade.in.active
          .comment
            %img.comment-avatar{:alt => "", :src => "assets/demo/avatars/1.jpg"}/
            .comment-body
              %form#leave-comment-form.comment-text.no-padding.no-border.expanding-input{:action => ""}
                %textarea.form-control.expanding-input-target{:rows => "1"}
                .expanding-input-hidden.expanding-input-content{:style => "margin-top: 10px;"}
                  %label.checkbox-inline.pull-left
                    %input.px{:type => "checkbox"}/
                    %span.lbl Private message
                  %button.btn.btn-primary.pull-right Leave Message
                .expanding-input-overlay
                  .expanding-input-placeholder Write message
            / / .comment-body
          %hr.no-panel-padding-h.panel-wide/
          .comment
            %img.comment-avatar{:alt => "", :src => "assets/demo/avatars/2.jpg"}/
            .comment-body
              .comment-text
                .comment-heading
                  %a{:href => "#", :title => ""} Robert Jang
                  %span 14 hours ago
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
              .comment-footer
                %a{:href => "#"}>
                  %i.fa.fa-thumbs-o-up
                  
                %a{:href => "#"}
                  %i.fa.fa-thumbs-o-down
                  ·  
                %a{:href => "#"} Reply
            / / .comment-body
            .comment
              %img.comment-avatar{:alt => "", :src => "assets/demo/avatars/4.jpg"}/
              .comment-body
                .comment-text
                  .comment-heading
                    %a{:href => "#", :title => ""} Timothy Owens
                    %span 14 hours ago
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                .comment-footer
                  %a{:href => "#"}>
                    %i.fa.fa-thumbs-o-up
                    
                  %a{:href => "#"}
                    %i.fa.fa-thumbs-o-down
                    ·  
                  %a{:href => "#"} Reply
              / / .comment-body
            / / .comment
            .comment
              %img.comment-avatar{:alt => "", :src => "assets/demo/avatars/5.jpg"}/
              .comment-body
                .comment-text
                  .comment-heading
                    %a{:href => "#", :title => ""} Denise Steiner
                    %span 14 hours ago
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                .comment-footer
                  %a{:href => "#"}>
                    %i.fa.fa-thumbs-o-up
                    
                  %a{:href => "#"}
                    %i.fa.fa-thumbs-o-down
                    ·  
                  %a{:href => "#"} Reply
              / / .comment-body
              .comment
                %img.comment-avatar{:alt => "", :src => "assets/demo/avatars/1.jpg"}/
                .comment-body
                  .comment-text
                    .comment-heading
                      %a{:href => "#", :title => ""} John Doe
                      %span 14 hours ago
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  .comment-footer
                    %a{:href => "#"}>
                      %i.fa.fa-thumbs-o-up
                      
                    %a{:href => "#"}
                      %i.fa.fa-thumbs-o-down
                      ·  
                    %a{:href => "#"} Reply
                / / .comment-body
              / / .comment
            / / .comment
          / / .comment
          .comment
            %img.comment-avatar{:alt => "", :src => "assets/demo/avatars/3.jpg"}/
            .comment-body
              .comment-text
                .comment-heading
                  %a{:href => "#", :title => ""} Michelle Bortz
                  %span 14 hours ago
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
              .comment-footer
                %a{:href => "#"}>
                  %i.fa.fa-thumbs-o-up
                  
                %a{:href => "#"}
                  %i.fa.fa-thumbs-o-down
                  ·  
                %a{:href => "#"} Reply
            / / .comment-body
          / / .comment
          .comment
            %img.comment-avatar{:alt => "", :src => "assets/demo/avatars/2.jpg"}/
            .comment-body
              .comment-text
                .comment-heading
                  %a{:href => "#", :title => ""} Robert Jang
                  %span 14 hours ago
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
              .comment-footer
                %a{:href => "#"}>
                  %i.fa.fa-thumbs-o-up
                  
                %a{:href => "#"}
                  %i.fa.fa-thumbs-o-down
                  ·  
                %a{:href => "#"} Reply
            / / .comment-body
            .comment
              %img.comment-avatar{:alt => "", :src => "assets/demo/avatars/4.jpg"}/
              .comment-body
                .comment-text
                  .comment-heading
                    %a{:href => "#", :title => ""} Timothy Owens
                    %span 14 hours ago
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                .comment-footer
                  %a{:href => "#"}>
                    %i.fa.fa-thumbs-o-up
                    
                  %a{:href => "#"}
                    %i.fa.fa-thumbs-o-down
                    ·  
                  %a{:href => "#"} Reply
              / / .comment-body
            / / .comment
            .comment
              %img.comment-avatar{:alt => "", :src => "assets/demo/avatars/5.jpg"}/
              .comment-body
                .comment-text
                  .comment-heading
                    %a{:href => "#", :title => ""} Denise Steiner
                    %span 14 hours ago
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                .comment-footer
                  %a{:href => "#"}>
                    %i.fa.fa-thumbs-o-up
                    
                  %a{:href => "#"}
                    %i.fa.fa-thumbs-o-down
                    ·  
                  %a{:href => "#"} Reply
              / / .comment-body
              .comment
                %img.comment-avatar{:alt => "", :src => "assets/demo/avatars/1.jpg"}/
                .comment-body
                  .comment-text
                    .comment-heading
                      %a{:href => "#", :title => ""} John Doe
                      %span 14 hours ago
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  .comment-footer
                    %a{:href => "#"}>
                      %i.fa.fa-thumbs-o-up
                      
                    %a{:href => "#"}
                      %i.fa.fa-thumbs-o-down
                      ·  
                    %a{:href => "#"} Reply
                / / .comment-body
              / / .comment
            / / .comment
          / / .comment
          .comment
            %img.comment-avatar{:alt => "", :src => "assets/demo/avatars/3.jpg"}/
            .comment-body
              .comment-text
                .comment-heading
                  %a{:href => "#", :title => ""} Michelle Bortz
                  %span 14 hours ago
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
              .comment-footer
                %a{:href => "#"}>
                  %i.fa.fa-thumbs-o-up
                  
                %a{:href => "#"}
                  %i.fa.fa-thumbs-o-down
                  ·  
                %a{:href => "#"} Reply
            / / .comment-body
          / / .comment
        / / .tab-pane
        #profile-tabs-activity.tab-pane.fade
          .timeline
            / Timeline header
            .tl-header.now Now
            .tl-entry
              .tl-time
                1h ago
              .tl-icon.bg-warning
                %i.fa.fa-envelope
              .panel.tl-body
                %h4.text-warning Lorem ipsum dolor sit amet
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              / / .tl-body
            / / .tl-entry
            .tl-entry.left
              .tl-time
                2h ago
              .tl-icon.bg-success
                %i.fa.fa-picture-o
              .panel.tl-body
                %a{:href => "#"} Denise Steiner
                shared an image on
                %a{:href => "#"} The Gallery
                .tl-wide.text-center{:style => "padding: 10px;margin-top:15px;margin-bottom: 15px;background: #f1f1f1"}
                  %img{:alt => "", :src => "assets/demo/signin-bg-5.jpg", :style => "max-height: 150px;max-width: 100%;"}/
                %i.text-muted.text-sm Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              / / .tl-body
            / / .tl-entry
            .tl-entry
              .tl-time
                3h ago
              .tl-icon.bg-success
                %img{:alt => "", :src => "assets/demo/avatars/2.jpg"}/
              .panel.tl-body
                %a{:href => "#"} Robert Jang
                commented on
                %a{:href => "#"} The Article
                .well.well-sm{:style => "margin: 10px 0 0 0;"} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              / / .tl-body
            / / .tl-entry
            .tl-entry.left
              .tl-time
                4h ago
              .tl-icon.bg-dark-gray
                %i.fa.fa-check
              .panel.tl-body
                %img.rounded{:alt => "", :src => "assets/demo/avatars/5.jpg", :style => " width: 20px;height: 20px;margin-top: -2px;"}>/
                  
                %a{:href => "#"} Denise Steiner
                followed
                %a{:href => "#"} Johg Doe
              / / .tl-body
            / / .tl-entry
            / Timeline header
            .tl-header Yesterday
            .tl-entry
              .tl-time
                9:02 pm
              .tl-icon.bg-info
                %i.fa.fa-comment
              .panel.tl-body
                %a{:href => "#"} Denise Steiner
                liked a comment on
                %a{:href => "#"} Some Article
                .text-sm{:style => "margin-top: 10px;"}
                  %img.rounded{:alt => "", :src => "assets/demo/avatars/3.jpg", :style => " width: 20px;height: 20px;margin-top: -2px;"}>/
                    
                  %a{:href => "#"} Michelle Bortz
                  commented 2 days ago
                  .well.well-sm{:style => "margin: 6px 0 0 0;"} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              / / .tl-body
            / / .tl-entry
            .tl-entry.left
              .tl-time
                5:47 pm
              .panel.tl-body
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              / / .tl-body
            / / .tl-entry
            .tl-entry
              .tl-time
                2:35 pm
              .tl-icon.bg-danger
                %i.fa.fa-heart
              .panel.tl-body
                %a{:href => "#"} Denise Steiner
                liked
                %a{:href => "#"} Shop Item
              / / .tl-body
            / / .tl-entry
            .tl-entry.left
              .tl-time
                11:21 am
              .panel.tl-body
                %h4.text-danger Lorem ipsum dolor sit amet
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              / / .tl-body
            / / .tl-entry
          / / .timeline
        / / .tab-pane
        #profile-tabs-followers.tab-pane.fade.widget-followers
          .follower
            %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/1.jpg"}/
            .body
              .follower-controls
                %a.btn.btn-sm.btn-success{:href => "#"}
                  %i.fa.fa-check
                  %span   Following
              %a.follower-name{:href => "#"} John Doe
              %br/
              %a.follower-username{:href => "#"} @jdoe
          .follower
            %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/3.jpg"}/
            .body
              .follower-controls
                %a.btn.btn-sm.btn-outline{:href => "#"} Follow
              %a.follower-name{:href => "#"} Michelle Bortz
              %br/
              %a.follower-username{:href => "#"} @mbortz
          .follower
            %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/4.jpg"}/
            .body
              .follower-controls
                %a.btn.btn-sm.btn-outline{:href => "#"} Follow
              %a.follower-name{:href => "#"} Timothy Owens
              %br/
              %a.follower-username{:href => "#"} @towens
          .follower
            %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/5.jpg"}/
            .body
              .follower-controls
                %a.btn.btn-sm.btn-outline{:href => "#"} Follow
              %a.follower-name{:href => "#"} Denise Steiner
              %br/
              %a.follower-username{:href => "#"} @dsteiner
          .follower
            %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/1.jpg"}/
            .body
              .follower-controls
                %a.btn.btn-sm.btn-success{:href => "#"}
                  %i.fa.fa-check
                  %span   Following
              %a.follower-name{:href => "#"} John Doe
              %br/
              %a.follower-username{:href => "#"} @jdoe
          .follower
            %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/3.jpg"}/
            .body
              .follower-controls
                %a.btn.btn-sm.btn-outline{:href => "#"} Follow
              %a.follower-name{:href => "#"} Michelle Bortz
              %br/
              %a.follower-username{:href => "#"} @mbortz
          .follower
            %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/4.jpg"}/
            .body
              .follower-controls
                %a.btn.btn-sm.btn-outline{:href => "#"} Follow
              %a.follower-name{:href => "#"} Timothy Owens
              %br/
              %a.follower-username{:href => "#"} @towens
          .follower
            %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/5.jpg"}/
            .body
              .follower-controls
                %a.btn.btn-sm.btn-outline{:href => "#"} Follow
              %a.follower-name{:href => "#"} Denise Steiner
              %br/
              %a.follower-username{:href => "#"} @dsteiner
          .follower
            %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/1.jpg"}/
            .body
              .follower-controls
                %a.btn.btn-sm.btn-success{:href => "#"}
                  %i.fa.fa-check
                  %span   Following
              %a.follower-name{:href => "#"} John Doe
              %br/
              %a.follower-username{:href => "#"} @jdoe
          .follower
            %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/3.jpg"}/
            .body
              .follower-controls
                %a.btn.btn-sm.btn-outline{:href => "#"} Follow
              %a.follower-name{:href => "#"} Michelle Bortz
              %br/
              %a.follower-username{:href => "#"} @mbortz
          .follower
            %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/4.jpg"}/
            .body
              .follower-controls
                %a.btn.btn-sm.btn-outline{:href => "#"} Follow
              %a.follower-name{:href => "#"} Timothy Owens
              %br/
              %a.follower-username{:href => "#"} @towens
          .follower
            %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/5.jpg"}/
            .body
              .follower-controls
                %a.btn.btn-sm.btn-outline{:href => "#"} Follow
              %a.follower-name{:href => "#"} Denise Steiner
              %br/
              %a.follower-username{:href => "#"} @dsteiner
          .follower
            %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/1.jpg"}/
            .body
              .follower-controls
                %a.btn.btn-sm.btn-success{:href => "#"}
                  %i.fa.fa-check
                  %span   Following
              %a.follower-name{:href => "#"} John Doe
              %br/
              %a.follower-username{:href => "#"} @jdoe
          .follower
            %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/3.jpg"}/
            .body
              .follower-controls
                %a.btn.btn-sm.btn-outline{:href => "#"} Follow
              %a.follower-name{:href => "#"} Michelle Bortz
              %br/
              %a.follower-username{:href => "#"} @mbortz
          .follower
            %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/4.jpg"}/
            .body
              .follower-controls
                %a.btn.btn-sm.btn-outline{:href => "#"} Follow
              %a.follower-name{:href => "#"} Timothy Owens
              %br/
              %a.follower-username{:href => "#"} @towens
          .follower
            %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/5.jpg"}/
            .body
              .follower-controls
                %a.btn.btn-sm.btn-outline{:href => "#"} Follow
              %a.follower-name{:href => "#"} Denise Steiner
              %br/
              %a.follower-username{:href => "#"} @dsteiner
        / / .tab-pane
        #profile-tabs-following.tab-pane.fade.widget-followers
          .follower
            %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/1.jpg"}/
            .body
              .follower-controls
                %a.btn.btn-sm.btn-success{:href => "#"}
                  %i.fa.fa-check
                  %span   Following
              %a.follower-name{:href => "#"} John Doe
              %br/
              %a.follower-username{:href => "#"} @jdoe
          .follower
            %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/3.jpg"}/
            .body
              .follower-controls
                %a.btn.btn-sm.btn-outline{:href => "#"} Follow
              %a.follower-name{:href => "#"} Michelle Bortz
              %br/
              %a.follower-username{:href => "#"} @mbortz
          .follower
            %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/4.jpg"}/
            .body
              .follower-controls
                %a.btn.btn-sm.btn-outline{:href => "#"} Follow
              %a.follower-name{:href => "#"} Timothy Owens
              %br/
              %a.follower-username{:href => "#"} @towens
          .follower
            %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/5.jpg"}/
            .body
              .follower-controls
                %a.btn.btn-sm.btn-outline{:href => "#"} Follow
              %a.follower-name{:href => "#"} Denise Steiner
              %br/
              %a.follower-username{:href => "#"} @dsteiner
          .follower
            %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/1.jpg"}/
            .body
              .follower-controls
                %a.btn.btn-sm.btn-success{:href => "#"}
                  %i.fa.fa-check
                  %span   Following
              %a.follower-name{:href => "#"} John Doe
              %br/
              %a.follower-username{:href => "#"} @jdoe
          .follower
            %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/3.jpg"}/
            .body
              .follower-controls
                %a.btn.btn-sm.btn-outline{:href => "#"} Follow
              %a.follower-name{:href => "#"} Michelle Bortz
              %br/
              %a.follower-username{:href => "#"} @mbortz
          .follower
            %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/4.jpg"}/
            .body
              .follower-controls
                %a.btn.btn-sm.btn-outline{:href => "#"} Follow
              %a.follower-name{:href => "#"} Timothy Owens
              %br/
              %a.follower-username{:href => "#"} @towens
          .follower
            %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/5.jpg"}/
            .body
              .follower-controls
                %a.btn.btn-sm.btn-outline{:href => "#"} Follow
              %a.follower-name{:href => "#"} Denise Steiner
              %br/
              %a.follower-username{:href => "#"} @dsteiner
          .follower
            %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/1.jpg"}/
            .body
              .follower-controls
                %a.btn.btn-sm.btn-success{:href => "#"}
                  %i.fa.fa-check
                  %span   Following
              %a.follower-name{:href => "#"} John Doe
              %br/
              %a.follower-username{:href => "#"} @jdoe
          .follower
            %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/3.jpg"}/
            .body
              .follower-controls
                %a.btn.btn-sm.btn-outline{:href => "#"} Follow
              %a.follower-name{:href => "#"} Michelle Bortz
              %br/
              %a.follower-username{:href => "#"} @mbortz
          .follower
            %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/4.jpg"}/
            .body
              .follower-controls
                %a.btn.btn-sm.btn-outline{:href => "#"} Follow
              %a.follower-name{:href => "#"} Timothy Owens
              %br/
              %a.follower-username{:href => "#"} @towens
          .follower
            %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/5.jpg"}/
            .body
              .follower-controls
                %a.btn.btn-sm.btn-outline{:href => "#"} Follow
              %a.follower-name{:href => "#"} Denise Steiner
              %br/
              %a.follower-username{:href => "#"} @dsteiner
          .follower
            %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/1.jpg"}/
            .body
              .follower-controls
                %a.btn.btn-sm.btn-success{:href => "#"}
                  %i.fa.fa-check
                  %span   Following
              %a.follower-name{:href => "#"} John Doe
              %br/
              %a.follower-username{:href => "#"} @jdoe
          .follower
            %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/3.jpg"}/
            .body
              .follower-controls
                %a.btn.btn-sm.btn-outline{:href => "#"} Follow
              %a.follower-name{:href => "#"} Michelle Bortz
              %br/
              %a.follower-username{:href => "#"} @mbortz
          .follower
            %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/4.jpg"}/
            .body
              .follower-controls
                %a.btn.btn-sm.btn-outline{:href => "#"} Follow
              %a.follower-name{:href => "#"} Timothy Owens
              %br/
              %a.follower-username{:href => "#"} @towens
          .follower
            %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/5.jpg"}/
            .body
              .follower-controls
                %a.btn.btn-sm.btn-outline{:href => "#"} Follow
              %a.follower-name{:href => "#"} Denise Steiner
              %br/
              %a.follower-username{:href => "#"} @dsteiner
        / / .tab-pane
      / / .tab-content